/* Layout and Positioning for the Tutor Cards*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 4000px;
    padding: 10px;
}

/* Background */
body {
    background-image: url('backgrounds/fall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Header */
h1 {
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 20px auto;
    display: inline-block;
    min-width: 500px;
    font-weight: bold;
}

/* Invisible Spacer between On-Duty and Off-Duty Grids*/
.spacer {
    height: 800px; 
}

/* Tutor Cards */
.tutor {
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    width: 350px;
    margin: 0px;
    padding: 2px;
    border: 3px solid black;
    border-radius: 5%;
    text-align: center;
}

/* Names */
.tutor h3 {
    font-size: 1.8em;
    margin: 15px 0;
}

/* Potraits */
.tutor img {
    width: 200px;
    height: 200px;
    border: 3px solid gray;
    border-radius: 10%;
}

/* Toggle Button */
.toggle-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-btn:hover {
    transform: scale(2);
}

/* Hide Tutor Details Initially and Font Size for Supported Courses */
.tutor-details {
    display: none;
    font-size: 1.2em;
    margin: 0px 2px;
}

/* Vicente's Accessibility Note*/
.accessibility-note {
    font-size: 1.0em;
    font-style: italic;
    color: #444;
    margin: 0px;
    background-color: #fdf6c9;
    border-radius: 10px;
    border: 2px solid yellow;
    padding: 0px;
    display: inline-block;
}

/* Adjusted Spacing for Vicente to fit Accessibility Note */
#tutor11 p {
    margin-top: 5px;
    padding-top: 0px;
}

/*Background Selector*/
.background-selector {
  background-color: rgba(127, 127, 127, 0.8); /* white-ish */
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  display: inline-block; /* keep the width tight to contents */
  margin: 10px auto; /* space above and below */
}

/* Background Drop-Down */
#backgroundSelect {
    margin: 10px;
    padding: 5px;
    font-size: 1.5em;
    border: 3px solid black;
    background-color: rgb(200, 200, 200);
}
